@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Fira Sans Regular'), local('FiraSans-Regular'),
       url('../fonts/fira-sans-v8-latin-regular.woff2') format('woff2'),
       url('../fonts/fira-sans-v8-latin-regular.woff') format('woff');
}
@font-face {
  font-family: 'Fira Mono';
  font-style: normal;
  font-weight: 400;
  src: local('Fira Mono Regular'), local('FiraMono-Regular'),
       url('../fonts/fira-mono-v6-latin-regular.woff2') format('woff2'),
       url('../fonts/fira-mono-v6-latin-regular.woff') format('woff');
}
body {
  font-family: 'Fira Sans', sans-serif;
}
h1, h2, h3, h4, h5, h6, .nav, .article-duration, .archive-item-link, .footer {
  font-family: 'Fira Mono', monospace;
}
code {
  font-family: 'Fira Mono', monospace;
  font-size: 80%;
}