/* CUSTOM CSS FOR ROSTRUM.BLOG - MATT DRAY, FEB 2021 */

/* HEADER & NAV */

.header {
  background: #000;
  border-bottom: 3px solid #1e8016;
}

.nav-links a {
  text-decoration: none;
  color: #1e8016;
}

.nav-links a:hover {
  color: #1e8016;
}

/* ARCHIVE */

.archive-title {
  color: #1e8016;
}

.archive-item-link {
  font-size: 19px;
  font-weight: normal;
  border-bottom: 2px solid rgba(30, 128, 22, 0.1);
}

.archive-item-link:hover {
  background: rgba(30, 128, 22, 0.1);
  border-bottom-color: rgba(30, 128, 22, 0.1);
}

.archive-item-date {
  color: rgba(30, 128, 22, 0.5);
}

/* ARTICLE PROPERTIES */

h1, h2, h3, h4, h5, h6 {
  color: #1e8016;
}

.article-title {
  color: #1e8016;
}

.article-meta a {
  border-bottom: 2px solid rgba(30, 128, 22, 0.1);
  color: #222;
  text-decoration: none;  
}

.article-meta a:hover,
.article-meta a:focus {
  background: rgba(30, 128, 22, 0.1);
  font-style: normal;
}

.article-content a {
  border-bottom: 2px solid rgba(30, 128, 22, 0.1);
  box-shadow: none;
}

.article-content a:hover,
.article-content a:focus {
  background: rgba(30, 128, 22, 0.1);
}

/* FOOTER  */

.footer-links {
  color: rgba(30, 128, 22, 0.5);
}

.footer-links a {
  color: rgba(30, 128, 22, 0.5);
}

.footer-links a:hover,
.footer-links a:focus {
  color: rgba(30, 128, 22, 1);
}

/* IMAGES */

img {
  max-width: 100%;
}

.caption {
   font-style: italic;
   font-size: 80%;
}

/* TABLES */

table{
  width:100%;
}

th {
  background-color: #fff;
  color: #1e8016;
}

td, th {
  border-bottom: 1px solid rgba(30, 128, 22, 0.1);
  padding: 5px;
}

/* INLINE CODE  */

code {
  background-color: rgba(30, 128, 22, 0.05);
}

pre code {
  display: block;
  background-color: rgba(30, 128, 22, 0.05);
  white-space: pre;
  overflow-x: auto;
  max-width: 100%;
  min-width: 100px;
  padding: 0.5em;
}

/* BLOCK QUOTES */

blockquote {
  margin: 0.5em 0;
  padding: 0.5em 15px;
  font-style: italic;
  border-left: 10px solid rgba(30, 128, 22, 0.1);
}

/* MIMIC KEYBOARD KEYS */

kbd {
  background-color: #eee;
  border-radius: 3px;
  border: 1px solid #b4b4b4;
  box-shadow: 0 1px 1px rgba(0, 0, 0, .2), 0 2px 0 0 rgba(255, 255, 255, .7) inset;
  color: #222;
  display: inline-block;
  font-size: .85em;
  font-weight: 700;
  line-height: 1;
  padding: 2px 4px;
  white-space: nowrap;
}

/* CUSTOM DIV: box for tips, hints, etc */

.tip {
  padding: 5px 25px;
  border-radius: 10px;
  border-style: solid;
  border-color: rgba(30, 128, 22, 0.1);
}
