      <footer class="footer">
        <ul class="footer-links">
          <li>
            <a href="https://creativecommons.org/licenses/by-nc-sa/4.0/">CC BY-NC-SA 4.0</a>
          </li>
          <li>
            <a href="https://www.rostrum.blog/index.xml">Feed</a>
          </li>
          <li>
            <a href="https://github.com/matt-dray/rostrum-blog">Source</a>
            <a rel="me" href="https://fosstodon.org/@mattdray"></a>
          </li>
        </ul>
      </footer>

    </div>
    {{ partial "footer_highlightjs" . }}
    {{ partial "footer_mathjax" . }}
    {{ template "_internal/google_analytics.html" . }}
  </body>
</html>
